# Environment
venv/
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Temporary RAG Data (Don't push the local DB)
*.faiss
*.pkl

# IDEs
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/
